[submodule "plugins/neotree"]
	path = plugins/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "plugins/dumb-jump"]
	path = plugins/dumb-jump
	url = https://github.com/jacktasia/dumb-jump.git
